 :root {
     --color-1: #3b5897;
     --color-2: #899bc2;
     --color-3: #dbe4f0;
     --color-4: #f8b830;
     --color-5: #ff6e61;
 }

 * {
     margin: 0;
     padding: 0;
 }

 .company-profile {
     margin: 0 auto;
     min-height: 300px;
     border: 20px;
     padding: 20px 20%;
     background-color: #fff
 }

 .company-profile h1 {
     text-align: center;
     margin-top: 20px;

 }

 .company-profile p {
     padding: 20px;
     font-size: 18px;
     line-height: 1.8;
     text-align: justify;
     margin: 0 auto;
 }

